
<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 
  CSS3,Bootstrap,Tailwind CSS,Shoelace Style which are 100% Mobile friendly. w3Hubs all Layouts are responsive 
  cross browser supported, best quality world class designs. -->
  <!DOCTYPE html>
  <html>
    <head>
      <title>Page Not Found</title>
      <meta charset="utf-8">
      <meta name=viewport content="width=device-width,initial-scale=1">
    </head>
    <body>
      <div class="content">
        <h1>404</h1>
        <h4>Pagina no encontrada</h4>
        <p>Oops! La pagina que esta buscando no existe.</p>
        <button [routerLink]="['/Home']" type="button">Regresar a Inicio</button>
      </div>
    </body>
  </html>