<div class="container center-h center-v" >
    <div class="row" >
        <div class="col-md-4 mx-auto">
            <div class="card " >
                <div class="card-body" >
            <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(loginForm.value)">
                <h3>Inicio de Sesion</h3>
                <span>&nbsp;&nbsp;</span>
                <div class="form-group">
                    <label for="correo">Correo electronico: </label>
                    <em *ngIf="loginForm.controls.correo?.invalid && (loginForm.controls.correo?.touched)"> Requerido</em>
                    <input (ngModel)="correo" name="correo" id="correo" type="text" class="form-control" required
                    placeholder="Correo electronico..." />
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña: </label>
                    <em *ngIf="loginForm.controls.contrasena?.invalid && (loginForm.controls.contrasena?.touched)"> Requerido</em>
                    <input (ngModel)="contrasena" name="contrasena" id="contrasena" type="password" class="form-control" required
                    placeholder="Contraseña..." />
                </div>
                <span>&nbsp;&nbsp;&nbsp;</span>
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary"  >Entrar</button>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </form>
    
    </div>
    </div>
</div>
</div>

