<!DOCTYPE html>
<html lang="span">
<head>
<meta charset="UTF-8">
<title></title>
</head>

<!--
<div class="d-flex justify-content-center">
    <div  *ngIf="!load" class="spinner-border" role="status" style="margin-top: 300px;">
    </div>
</div>-->

<div *ngIf="lstProducts?.length==0" class="separate-message">
    <h5>No hay productos disponibles por el momento.</h5>
</div>

<body>
<div class="container"  styles="margin-top: 0px;">
    <div class="row">
        <div id="object" class="col-md-4" *ngFor ="let pr of lstProducts | orderBy: 'idproducto'; index as i;">
            <div class="card  Prod Prodhover ">
                    <img class="card-img-top" src="{{pr.url}}" alt="" width="347" height="290" >
                <div class="card-body">
                    <div hidden>
                        <output>{{pr.idproducto}}</output>
                    </div>
                    <h4 class="card-title">{{pr.nombre}}</h4>
                    <p class="card-text">{{pr.descripcion}}</p>
                </div>
                <hr> 
                <div class="container">
                     <h4 class="card-text" >Lps.  {{pr.precio | number:'3.1-5'}}</h4>
                </div>
                <div class="container">
                <div class="row buttons">
                    <button  *ngIf="auth.estaAutenticado() && !auth.esAdmin() " type="button" class="btn btn-primary" (click)="agregarProducto(pr)">Añadir  </button>
                    <button type="button" class="btn btn-info" (click)="showReviews(pr)" data-toggle="modal" data-target="#reviewsModal" style="margin-left:60px;">Reseñas
                    </button>
                </div>
                </div>
            </div>

            <!--My modal-->
            <div class="container">
            <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content modal-bodyscroll">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{nombre}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="alignImageModal">
                            <img src="{{url}}" alt="" width="300" height="280" >
                        </div>
                        <div *ngIf="lstReviews?.length==0">
                            <p style="size:10; margin-top: 20px;">
                                No hay reviews. Se el primero en comentar sobre este producto. Aceptamos
                                la libre expresion.
                            </p>    
                        </div>
                    <div *ngIf="lstReviews?.length>0" style="overflow-y : scroll;">
                        <div *ngFor ="let rv of lstReviews; index as i;">
                            <hr>
                            <p>
                                {{rv.mensaje}}
                            </p>
                            <output style="margin-right: 10px;">Fecha: {{rv.fecha | date: 'dd/MM/yyyy'}}</output>
                            <output>Valoracion: {{rv.valoracion}}/10</output>  
                        </div>
                    </div>
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>