@import "~@fortawesome/fontawesome-free/css/all.css";

body{
    background-color: rgb(233, 231, 231);
}


footer{
    padding: 30px;
    background-color: rgb(94, 38, 15); 
    color: aliceblue;
    margin-top: 600px;
    width: 100%;
}

.logo{
    width: 80px;
    height: 80px; 
    margin-left: 30px;
    margin-top: 30px;
}


form {
    padding-left: 860px;
    display: inline-grid;
}

app-registro{
    min-height: calc(512px - 70px);
    display: block;
}

app-login{
    min-height: calc(512px - 70px);
    display: block;
}
    /* display: inline-grid; */

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
}
