<div class="main-div">
  <div class="card">
  <div class="card-body center" flex="50" >
      <form #loginForm="ngForm"  (ngSubmit)="onSubmit(loginForm.value)">

          <div class="form-group">
              <label for="correo">Nombre Completo:</label>
              <input (ngModel)="nombre" name="nombre" id="nombre" type="text" class="form-control" required
                  placeholder="Nombre completo..." />
          </div>

          <div class="form-group">
            <label for="contrasena">Correo Electronico:</label>
            <input (ngModel)="correo" name="correo" id="correo" type="text" class="form-control" required
                placeholder="Correo electronico..." />
        </div>

          <div class="form-group">
              <label for="contrasena">Contraseña:</label>
              <input (ngModel)="contrasena" name="contrasena" id="contrasena" type="password" class="form-control" required
                  placeholder="Contraseña..." />
          </div>
          <button type="submit" class="btn btn-primary"  >Entrar</button>
          <span>&nbsp;&nbsp;&nbsp;</span>
      </form>
    </div>
  </div>
</div>
