input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 250px;
}

h3{
  text-align: center;

}

form{
  padding-top: 50px;
  padding-left: 30px;
  }

em {float:right; color:#E05C65; padding-left: 10px;}  
